.canvas-confetti-modes__canvas {
	background-color: #f0f0f0;
	height          : 100%;
	left            : 0px;
	pointer-events  : none;
	position        : fixed;
	top             : 0px;
	width           : 100%;
	z-index         : -1;
}

.canvas-confetti-modes__control {
	bottom        : 15%;
	display       : flex;
	flex-direction: column;
	gap           : 5px;
	left          : 50%;
	margin-left   : -50px;
	position      : fixed;
}

.canvas-confetti-modes__control button {
	height        : 40px;
	width         : 100px;
	pointer-events: auto;
}